In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
superbowl_ads_df = pd.read_csv('superbowl-ads.csv')

In [5]:
superbowl_ads_df.head()

,year,brand,superbowl_ads_dot_com_url,youtube_url,funny,show_product_quickly,patriotic,celebrity,danger,animals,use_sex
0,2018,Toyota,https://superbowl-ads.com/good-odds-toyota/,https://www.youtube.com/watch?v=zeBZvwYQ-hA,False,False,False,False,False,False,False
1,2020,Bud Light,https://superbowl-ads.com/2020-bud-light-seltz...,https://www.youtube.com/watch?v=nbbp0VW7z8w,True,True,False,True,True,False,False
2,2006,Bud Light,https://superbowl-ads.com/2006-bud-light-bear-...,https://www.youtube.com/watch?v=yk0MQD5YgV8,True,False,False,False,True,True,False
3,2018,Hynudai,https://superbowl-ads.com/hope-detector-nfl-su...,https://www.youtube.com/watch?v=lNPccrGk77A,False,True,False,False,False,False,False
4,2003,Bud Light,https://superbowl-ads.com/2003-bud-light-hermi...,https://www.youtube.com/watch?v=ovQYgnXHooY,True,True,False,False,True,True,True

In [6]:
print('Brand: ')
superbowl_ads_df.brand.value_counts()

Brand:

Bud Light    60
Budweiser    43
Pepsi        25
Doritos      25
Hynudai      22
Coca-Cola    21
Kia          13
E-Trade      13
Toyota       11
NFL          11
Name: brand, dtype: int64

In [7]:
print('Danger: ')
superbowl_ads_df.danger.value_counts()

Danger:

False    169
True      75
Name: danger, dtype: int64

In [8]:
superbowl_ads_df.show_product_quickly.value_counts()

show_product_quickly:

True     166
False     78
Name: show_product_quickly, dtype: int64

In [12]:
print('Funny: ')
Funny = superbowl_ads_df.groupby(['brand']).funny.value_counts()
print(Funny)

Funny:
brand      funny
Bud Light  True     57
           False     3
Budweiser  False    22
           True     21
Coca-Cola  False    13
           True      8
Doritos    True     24
           False     1
E-Trade    True     12
           False     1
Hynudai    True     12
           False    10
Kia        True      8
           False     5
NFL        False     9
           True      2
Pepsi      True     18
           False     7
Toyota     True      6
           False     5
Name: funny, dtype: int64

In [14]:
print('Danger: ')
Danger = superbowl_ads_df.groupby(['brand']).danger.value_counts()
print(Danger)

Danger:
brand      danger
Bud Light  False     33
           True      27
Budweiser  False     36
           True       7
Coca-Cola  False     15
           True       6
Doritos    False     14
           True      11
E-Trade    False     10
           True       3
Hynudai    False     16
           True       6
Kia        False      8
           True       5
NFL        False     11
Pepsi      False     19
           True       6
Toyota     False      7
           True       4
Name: danger, dtype: int64

In [16]:
print('Use sex: ')
Use_sex = superbowl_ads_df.groupby(['brand']).use_sex.value_counts()
print(Use_sex)

Use sex:
brand      use_sex
Bud Light  False      36
           True       24
Budweiser  False      35
           True        8
Coca-Cola  False      20
           True        1
Doritos    False      19
           True        6
E-Trade    False      10
           True        3
Hynudai    False      19
           True        3
Kia        False       7
           True        6
NFL        False      11
Pepsi      False      14
           True       11
Toyota     False      10
           True        1
Name: use_sex, dtype: int64

In [18]:
print('Show product quickly: ')
show_product_quickly = superbowl_ads_df.groupby(['brand']).show_product_quickly.value_counts()
print(show_product_quickly)

Show product quickly:
brand      show_product_quickly
Bud Light  True                    49
           False                   11
Budweiser  True                    27
           False                   16
Coca-Cola  True                    15
           False                    6
Doritos    True                    22
           False                    3
E-Trade    True                     7
           False                    6
Hynudai    True                    12
           False                   10
Kia        False                    9
           True                     4
NFL        True                     6
           False                    5
Pepsi      True                    15
           False                   10
Toyota     True                     9
           False                    2
Name: show_product_quickly, dtype: int64

In [19]:
superbowl_ads_df.describe()

              year
count   244.000000
mean   2010.254098
std       5.868324
min    2000.000000
25%    2005.000000
50%    2010.000000
75%    2015.000000
max    2020.000000